lists/metalist.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pages" type="xs:string">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="inFilePath" minOccurs="0" maxOccurs="1"/>
      <xs:element name="outFilePath" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>